NEXT_PUBLIC_API_KEY="8fe258a5fb72006df97e96d3e46d0a5a"
GOOGLE_CLIENT_ID="value"
GOOGLE_CLIENT_SECRET="value"
NEXT_PUBLIC_SECRET=anything
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:5001
NEXT_PUBLIC_LOOKUP_KEY="value"