@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-600;
    background-color: #f3f4f6;
    color: #111827;
  }

  html.dark body {
    background-color: #000000;
    color: #ffffff;
  }
}

@layer components {
  .header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6;
  }

  .navBarComponents {
    @apply cursor-pointer text-[17px] font-medium hover:underline transition duration-[.4s];
  }
}

/* Responsive layout helpers */
@media (min-width: 868px) {
  .header__wrapper .cols__container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }
  .header__wrapper .cols__container .left__col {
    padding: 25px 0px;
  }
  .header__wrapper .cols__container .right__col nav ul {
    flex-direction: row;
    gap: 30px;
  }
  .header__wrapper .cols__container .right__col .photos {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }
}

@media (min-width: 1017px) {
  .header__wrapper .cols__container .left__col {
    margin: 0;
    margin-right: auto;
  }
  .header__wrapper .cols__container .right__col nav {
    flex-direction: row;
  }
  .header__wrapper .cols__container .right__col nav button {
    margin-top: 0;
  }
}
